<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body>

    <a href="login.html">
        <button id="logoutButton">Logout</button>
    </a> 

    <h1>List of users</h1>
Contain; <br>
- Opdaterer bruger <br>
- Slette bruger <br>
- Lave bruger til guld <br>
- Se brugerstatistik herunder antal annoncer pr bruger og total antal annoncer
<br>
    <button type="submit" id="submitCategory">Show own items</button>

    <div id="product"> </div>
<br>
    <table style="background-color: lemonchiffon;" id="list"> </table>
   
    <script src="admin_index.js" defer></script>
</body>
</html>