<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body>

    <a href="login.html">
        <button id="logoutButton">Logout</button>
    </a> 

    <h1>List of users</h1>
Contain; <br>
- Opdaterer bruger <br>
- Slette bruger <br>
- Lave bruger til guld <br>
- Se brugerstatistik herunder antal annoncer pr bruger og total antal annoncer
<br>
Show all users and their number of ads
<br>
    <button type="submit" id="submitCategory">Show users</button>

    <div id="users"> </div>
    <table style="background-color: lemonchiffon;" id="list"> </table>

        <h3>Delete user</h3>
    
        <!-- Delete user -->
        <form>
            Write the user_id of the user you want to delete
            <br>
            <input placeholder="example" id="user_id" required>
    
            <button type="submit" id="submitDelete">Delete</button>
        </form> 
        <br>

        <h3>Delete user</h3>
    
        <!-- Opdaterer user -->
        <form>
            Write the user_id of the user you want to update
            <br>
            <input placeholder="example" id="user_id" required>
            <input placeholder="example" id="user_id" required>
    
            <button type="submit" id="submitDelete">Delete</button>
        </form> 
        <br>

    <br>
    Go to homepage <a href="index.html"> here </a>
    <br>

   
    <script src="admin_index.js" defer></script>
</body>
</html>