<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>  
</head>
<body>
    <h1>Register</h1>

    <!-- Registrer bruger -->
    <form>
        Choose Username
        <br>
        <input placeholder="example" id="username" required>
        <br>
        Choose Password
        <br>
        <input placeholder="*****" id="password" required>
        <br>
        Choose Region
        <br>
        <select name="region" id="region">
            <option value=1>Hovedstaden</option>
            <option value=2>Sjaelland</option>
            <option value=3>Syddanmark</option>
            <option value=4>Midtjylland</option>
            <option value=5>Nordjylland</option>
          </select>
          <br>
          <br>
        <button type="submit" id="submit">Register</button>
    </form> 


<script src="create_user.js" defer></script> 
</body>
</html>