<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
  </head>
  <body>
    <h1>Delete your own user</h1>

    <!-- Delete user -->
    <form>
      Put in your user_id, which can be seen on the homepage
      <br />
      <input placeholder="example" id="user_id" required />

      <button type="submit" id="submit">Delete</button>
    </form>
    <br />
    <br />
    <a href="http://localhost:3000/">
      <button>Homepage</button>
    </a>

    <script src="deleteUser.js" defer></script>
  </body>
</html>
