<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>  
</head>
<body>
    <h1>Delete item(s)</h1>

    <!-- Delete items -->
    <form>
        Chose the ID of the item you want to delete
        <br>
        <input placeholder="example" id="username" required>

        <button type="submit" id="submit">Delete</button>
    </form> 
    <br>
    Already have a user, login <a href="index.html"> here </a>
    <br>
    <a href="http://localhost:3000/">
        <button>Homepage</button>
    </a>

<script src="deleteItems.js" defer></script> 
</body>
</html>