<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <!-- Logger ind -->
    <form>
      Username
      <br />
      <input placeholder="example" id="username" required />
      <br />
      Password
      <br />
      <input placeholder="*****" id="password" required />
      <br />
      <br />
      <button type="submit" id="submit">Login</button>
    </form>
    <br />
    If you don't have a user, create one <a href="create_user.html"> here </a>
    <br />
    <a href="http://localhost:3000/">
      <button>Homepage</button>
    </a>

    <script src="login.js" defer></script>
  </body>
</html>
