<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Shown your own items</h1>
    Press button below to see which items you have for sale
    <!-- Knapper til at navigere rundt til de forskellige endpoints -->
 
    <!-- Viser alle brugers items ud fra kategori -->
<br>

<br>
    <button type="submit" id="submitCategory">Show own items</button>

    <div id="product"> </div>
<br>
    <table style="background-color: lemonchiffon;" id="list"> </table>
    
    <br>
    Go to homepage <a href="index.html"> here </a>
    <br>
   
    <script src="myItems.js" defer></script>
</body>
</html>