<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
  </head>
  <body>
    <h1>Update your information</h1>

    <!-- Update user -->
    <form>
      Write the user_id of the user you want to update
      <br />
      User_id
      <br />
      <input placeholder="example" id="user_idUpdate" required />
      <br />
      New username
      <br />
      <input placeholder="new username" id="username" required />
      <br />
      New password
      <br />
      <input placeholder="new password" id="password" required />
      <br />
      Choose Region
      <br />
      <select name="region" id="newRegion">
        <option value="1">Hovedstaden</option>
        <option value="2">Sjaelland</option>
        <option value="3">Syddanmark</option>
        <option value="4">Midtjylland</option>
        <option value="5">Nordjylland</option>
      </select>
      <br />

      <br />
      <button type="submit" id="submitUpdate">Update</button>
    </form>
    <br />
    <br />
    <br />
    <a href="http://localhost:3000/">
      <button>Homepage</button>
    </a>

    <script src="updateUser.js" defer></script>
  </body>
</html>
