<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update item</title>  
</head> 
<body>
    <h1>Update item</h1>

    <!-- Opdater vare -->
    <form>
        Which ITEM ID do you want to change?
        <br>
        <input placeholder="120" id="id" type="number" required>
        <br>
        Choose category
        <br>
        <select name="category" id="category_id" required>
            <option value=1>Electronics</option>
            <option value=2>Home</option>
            <option value=3>Clothing</option>
            <option value=4>Bathroom</option>
            <option value=5>Sporting goods</option>
          </select>
        <br>
        Select desired price
        <br>
        <input placeholder="500" id="price" type="number" required>
             <br>
        Item name
        <br>
        <input placeholder="Television" id="i_name" required>
        <br>
        Reusables?
        <br>
          <select name="reusables" id="reusables" required>
              <option value=0>No</option>
              <option value=1>Yes</option>
            </select>
              <br>
          <br>
        <button type="submit" id="submit">Update</button>
    </form> 

    <br>
    Go to homepage <a href="index.html"> here </a>
    <br>

<script src="updateItems.js" defer></script> 
</body>
</html>