<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>  
</head>
<body>
    <h1>Update your password</h1>

    <!-- Delete user -->
    <form>
        Put in your user_id, which can be seen on the homepage
        <br>
        <input placeholder="user_id" id="user_id" required>
        <br>
        Write your new password
        <br>
        <input placeholder="password" id="password" required>

        <button type="submit" id="submit">Update</button>
    </form> 
    <br>
    <br>
    <a href="http://localhost:3000/">
        <button>Homepage</button>
    </a>

<script src="updateUser.js" defer></script> 
</body>
</html>